section
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card
{
    width: 500px;
    height: 500px;
    background: aqua;
    border-radius: 20px;
    position: relative;
    
    
}

.card img
{
    
    width: 40%;
    position: absolute;
}

.card p
{
    text-align: center;
}

.card p:nth-child(2)
{
    color: blue;
}