p 
{
    color:aqua;
}

p::first-letter
{
    color: teal;
}

p::before
{
    content: "*";
}

p::after
{
    content: "*";
}

p:hover
{
    color: chartreuse;
}

div p:nth-child(2)
{
    color: yellow;
}

::placeholder
{
    color: tomato;
}