.container
{
    display: flex;
    background: lightseagreen;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;

}

.item
{
    width: 30px;
    height: 30px;
    background: brown;
}

.container .item:nth-child(2n + 1)
{
    background: green;
}